* {
    margin: 0;
    padding: 0;
    
}

.title,form {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.title {
    font-size: 30px;
    background-color: #231f47;
    padding: 30px 0;
}


form {
    font-size: 20px;
    background-color: #464374;
    padding: 20px 0;
    background: linear-gradient(to bottom, #231f47 0%, #464374 100%);
    /* border-bottom: 2px solid #231f47; */
}

h4 {
    margin-right: 10px;
}

input {
    padding: 5px 10px;
    border: 2px solid #231f47;
    border-radius: 3px;
    box-shadow: 0 0 5px #231f47;
}


button {
    background-color: white;
    color: #231f47;
    margin-left: 10px;
    padding: 5px 10px;    
    border: 2px solid #231f47;
    border-radius: 3px;
    box-shadow: 0 0 5px #231f47;
}

button:hover {
    background-color: #f46d3d;
    color: white;
}

body {
    box-sizing: border-box;
}

.container {
    background-color: #6c69b6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
}

.card {
    text-align: center;
    background-color: #f46d3d;
    color: white;
    width: calc(20% - 20px);
    margin: 20px;
    padding: 20px;
    border: 2px solid #464374;
    border-radius: 10px;
    box-shadow: 0 0 5px #231f47;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}